<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"st/hero"} /-->

<!-- wp:pattern {"slug":"st/concept"} /-->

<!-- wp:pattern {"slug":"st/product"} /-->

<!-- wp:pattern {"slug":"st/pattern-showcase"} /-->

<!-- wp:pattern {"slug":"st/cta"} /-->

<!-- wp:pattern {"slug":"st/faq"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
